<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <div th:replace="~{common :: head}"></div>
</head>
<body>
<h1>Create a Profile</h1>

<h2>Become a user!</h2>
<form action="/applicationUserIndex" method="POST">
    <input value="user name" name="userName" />
    <input type = password value="password" name="password" />
    <input value="first name" name="firstName" />
    <input value="Last Name" name="lastName" />
    <input value="date of birth" name="dateOfBirth" />
    <input value="picture" name="picture" />
    <input value="bio" name="bio" />
    <input type="submit" />
</form>
</body>
</html>