
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>The Code Fellows Fellowship</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div th:fragment="nav" id="navigation">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/applicationUserIndex">Sign up</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/userDetail">Login</a></li>
            <li><a href="/perform_logout">logout</a></li>
        </ul>
    </nav>
</div>
</body>
</html>